@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none; }

html {
  font-size: 62.5%; }

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #3B3B3B;
  letter-spacing: .3rem;
  text-align: center;
  margin: 1.5rem; }

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 8vw;
  font-weight: 900;
  color: #F6F8F8;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%; }

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #F6F8F8;
  background: #8e2745;
  text-align: center;
  margin: 2rem 0;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); }

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  color: #3B3B3B;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0; }

.boton, .boton--black, .boton--buy {
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  color: #F6F8F8;
  border: solid 0.4rem #F6F8F8;
  padding: .5rem .8rem;
  margin: .8rem;
  transition: .4s ease; }
  .boton:hover, .boton--black:hover, .boton--buy:hover {
    background: #66BCDE; }

.boton--black {
  color: #3B3B3B;
  border: solid 0.4rem #3B3B3B;
  text-decoration: none; }
  .boton--black:hover {
    cursor: pointer;
    color: #F6F8F8; }

.boton--buy {
  color: #3B3B3B;
  border: solid 0.4rem #3B3B3B; }
  .boton--buy:hover {
    cursor: pointer;
    color: #F6F8F8; }

.return-button__img {
  width: 6rem;
  height: auto;
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 50%;
  transition: transform .4s ease; }
  .return-button__img:hover {
    opacity: 100%;
    transform: translateY(-5px); }

.btn {
  border: solid 2px #F6F8F8;
  color: #F6F8F8;
  font-size: 1.6rem; }
  .btn:hover {
    border: solid 2px #66BCDE;
    color: #66BCDE; }

.navbar-toggler {
  border: solid 1px rgba(0, 0, 0, 0); }

.navbar-toggler-icon {
  background-image: url(../images/hmb.png);
  width: 30px;
  height: 30px; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: header; }

.redes-sociales__link {
  text-decoration: none; }

.redes-sociales__icon {
  width: 2.5rem;
  height: auto;
  margin: 0 .5rem;
  transition: .4s ease; }
  .redes-sociales__icon:hover {
    transform: scale(1.1); }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
  background: linear-gradient(105deg, #98354c 0, #8e2645 50%, #84143f 100%);
  padding: .5rem 0;
  margin: 2rem 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }
  .nav__decoration {
    display: none; }
  .nav__logo {
    width: 5rem;
    height: auto;
    transition: .4s ease;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }
    .nav__logo:hover {
      transform: scale(1.03); }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .menu__item {
    text-align: center;
    margin: .5rem 0; }
  .menu__link {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #F6F8F8;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .4s; }
    .menu__link:hover {
      color: #66BCDE;
      background-size: 100% 2px; }

.form-control {
  font-size: 1.6rem; }

.hero {
  grid-area: hero;
  position: relative; }
  .hero__media {
    width: 100%; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: footer;
  background: linear-gradient(105deg, #79c8e6 0, #65bcde 50%, #4fb1d6 100%); }

.torneo {
  display: none; }
  .torneo__title {
    color: #F6F8F8; }

.trofeo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .trofeo__img {
    width: 4vw;
    height: auto; }
  .trofeo__txt {
    color: #F6F8F8; }

.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  .sponsors__img {
    width: 20rem;
    height: auto;
    margin: 1.5rem 2rem; }

.footer-info {
  margin: 2rem; }
  .footer-info__txt {
    font-family: "Work Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #F6F8F8;
    text-align: center;
    margin: 1rem 0; }

.container-inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header" "nav" "hero" "aside" "main" "buy" "footer"; }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: aside;
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.3); }
  .aside__title {
    font-size: 2rem;
    padding: 0 6rem; }

.clash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .clash__title {
    font-size: 2rem;
    background: #66BCDE;
    color: #F6F8F8;
    padding: .5rem; }
  .clash-torneo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0; }
    .clash-torneo__title {
      font-family: "Work Sans", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: #3B3B3B;
      margin: 1rem 0;
      padding: .5rem;
      text-align: center; }
    .clash-torneo__div {
      display: flex;
      align-items: center; }
    .clash-torneo__txt {
      font-family: "Work Sans", sans-serif;
      font-size: 2rem;
      font-weight: 300;
      color: #3B3B3B; }

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .team__logo {
    width: 8rem;
    height: auto;
    margin: 1rem 2rem; }
  .team__txt {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #3B3B3B;
    margin-bottom: 2rem;
    text-align: center; }

.publicidad__img {
  width: 100%;
  height: auto; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  background-image: url(../images/pasillo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .main__title {
    width: 100%; }
  .main__video {
    width: 95%;
    height: auto;
    margin: 2rem;
    border-radius: 2rem;
    display: none; }

.noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.noticia {
  width: 90%;
  padding-bottom: 1rem;
  background: #F6F8F8;
  margin: 1rem 0; }
  .noticia__img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .noticia__title {
    padding: .5rem; }
  .noticia__txt {
    text-align: center;
    font-size: 1.6rem;
    padding: 1.5rem; }

.buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: buy; }
  .buy__img {
    width: 100%;
    height: auto; }

.camiseta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  .camiseta__txt {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #3B3B3B;
    text-align: center;
    padding: 0 2rem; }
  .camiseta__icon {
    width: 20rem;
    height: auto;
    margin: 1rem; }

.container-historia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "nav" "hero" "main" "footer"; }

.historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem; }
  .historia-bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .historia-bloque__title {
      padding: 1rem;
      font-size: 2.6rem;
      width: 100%; }
    .historia-bloque__img {
      width: 80%;
      max-width: 50rem;
      height: auto;
      border-radius: 2rem; }
    .historia-bloque__txt {
      font-size: 1.6rem;
      text-align: justify;
      padding: 2rem;
      color: #3B3B3B; }

.container-deportes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "nav" "hero" "main" "aside" "footer"; }

.deporte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem; }
  .deporte-encabezado {
    width: 100%; }
    .deporte-encabezado__title {
      padding: 1rem;
      font-size: 2.6rem;
      width: 100%; }
    .deporte-encabezado__torneo {
      text-align: center;
      font-size: 2rem; }

.posiciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .posiciones__title {
    padding: 1rem;
    font-size: 2.6rem;
    width: 100%;
    background: #66BCDE; }
  .posiciones__tabla {
    text-align: center;
    font-size: 1.4rem;
    border: solid 1px black;
    border-collapse: collapse; }
    .posiciones__tabla tr {
      padding: 1px; }
      .posiciones__tabla tr th {
        border: solid 1px black;
        padding: 1px; }
      .posiciones__tabla tr td {
        border: solid 1px black;
        padding: 1px; }

.fixture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .fixture__title {
    padding: 1rem;
    font-size: 2.6rem;
    width: 100%;
    background: #66BCDE; }
  .fixture__tabla {
    text-align: center;
    font-size: 1.4rem;
    border: solid 1px black;
    border-collapse: collapse; }
    .fixture__tabla tr {
      padding: 1px; }
      .fixture__tabla tr th {
        border: solid 1px black;
        padding: 1px; }
      .fixture__tabla tr td {
        border: solid 1px black;
        padding: 1px; }

.container-club {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "nav" "hero" "main" "footer"; }

.club {
  display: grid;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem; }
  .club-articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .club-articulo__title {
      padding: 1rem;
      font-size: 2.6rem;
      width: 100%; }
    .club-articulo__txt {
      font-size: 1.6rem;
      text-align: left;
      padding: 2rem;
      color: #3B3B3B; }
    .club-articulo__ul {
      list-style: square; }
    .club-articulo__li {
      font-size: 1.6rem;
      text-align: justify;
      padding: 2rem;
      color: #3B3B3B; }
    .club-articulo__tabla {
      text-align: center;
      font-size: 1.4rem;
      border: solid 1px black;
      border-collapse: collapse; }
      .club-articulo__tabla tr {
        padding: 1px; }
        .club-articulo__tabla tr th {
          border: solid 1px black;
          padding: 1px; }
        .club-articulo__tabla tr td {
          border: solid 1px black;
          padding: 1px; }

.map {
  width: 100%;
  height: 50vh; }

.container-productos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "nav" "hero" "main" "footer"; }

.productos-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3rem; }
  .productos-categoria__title {
    padding: 1rem;
    font-size: 2.6rem;
    width: 100%; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 2rem; }
  .producto__cont {
    width: 100%; }
  .producto__img {
    width: 100%;
    height: auto; }
  .producto__price {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #3B3B3B; }

.container-socio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "nav" "hero" "main" "footer"; }

.socio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/pasillob.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .socio__decoration {
    width: 15vw; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F6F8F8; }
  .formulario-campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    padding: 2rem; }
    .formulario-campo__titulo {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 800; }
    .formulario-campo__label {
      font-size: 1.6rem;
      margin: .5rem 0; }
    .formulario-campo__input {
      font-size: 1.6rem;
      margin: .5rem 0; }
    .formulario-campo__select {
      font-size: 1.6rem;
      margin: .5rem 0; }
    .formulario-campo__option {
      font-size: 1.6rem; }

@media (min-width: 768px) {
  /*=========MQ GENERAL=========*/
  hr {
    display: none; }
  .header {
    flex-direction: row;
    justify-content: space-around; }
  .nav {
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: -1px;
    z-index: 100;
    margin-bottom: 3rem; }
  .menu {
    flex-direction: row; }
    .menu__link {
      font-size: 1.6rem;
      margin: 0 1rem; }
  .boton, .boton--black, .boton--buy, .boton--black {
    font-size: 1.8rem; }
  .sponsors {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
  /*=========MQ INDEX=========*/
  .container-inicio {
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "nav nav" "hero hero" "main aside" "buy buy" "footer footer"; }
  .clash-torneo__div {
    flex-direction: column; }
  /*=========MQ DEPORTES=========*/
  .container-deportes {
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "nav nav" "hero hero" "main aside" "footer footer"; }
  /*=========MQ CLUB=========*/
  .club-articulo--row {
    display: flex;
    align-items: center;
    justify-content: center; }
  .club-articulo__bloque {
    width: 50%; }
  .map {
    width: 50%;
    height: 100vh; }
  /*=========MQ PRODUCTOS=========*/
  .productos-categoria {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .producto {
    width: 40%; } }

@media (min-width: 1024px) {
  /*=========MQ GENERAL=========*/
  .nav {
    height: 6rem; }
    .nav__logo {
      width: 8rem; }
  .boton--black {
    color: #F6F8F8;
    font-size: 2.2rem;
    border: solid 0.4rem #F6F8F8; }
  .campeonatos {
    display: flex;
    justify-content: space-evenly; }
  .torneo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 20vw; }
    .torneo--xl {
      width: 50vw; }
    .torneo__title {
      flex-basis: 100%;
      text-align: center;
      font-size: 1.6rem;
      margin: 2rem 0; }
  .sponsors {
    flex-wrap: nowrap;
    margin: 2rem 0;
    padding: 2rem; }
    .sponsors__img {
      width: 15%;
      margin: 0px; }
  /*=========MQ INDEX=========*/
  .container-inicio {
    grid-template-columns: 70% 30%; }
  .noticias {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
  .noticia {
    width: 45%; }
  .aside {
    justify-content: space-evenly; }
  .clash-torneo__div {
    flex-direction: row; }
  .buy {
    position: relative; }
    .buy__img {
      filter: brightness(0.25); }
  .camiseta {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%); }
    .camiseta__txt {
      color: #F6F8F8; }
  /*=========MQ HISTORIA=========*/
  .historia-bloque {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .historia-bloque__title {
      padding: 1rem;
      font-size: 2.6rem;
      width: 100%; }
  .posiciones__tabla {
    font-size: 2.2rem; }
  .fixture__tabla {
    font-size: 2.2rem; }
  /*=========MQ DEPORTES=========*/
  .container-deportes {
    grid-template-columns: 70% 30%; }
  /*=========MQ CLUB=========*/
  .map {
    padding: 5rem; }
  /*=========MQ PRODUCTOS=========*/
  .producto {
    width: 28%; } }

@media (min-width: 1200px) {
  /*=========MQ GENERAL=========*/
  .header {
    padding: 0 20%; }
  .redes-sociales__icon {
    width: 2.2rem; }
  .nav {
    padding: 0 10%; }
  .torneo--xl {
    width: 50%; }
  /*=========MQ INDEX=========*/
  .container-inicio {
    grid-template-columns: 75% 25%; }
  .noticia {
    width: 30%; }
    .noticia__title {
      font-size: 1.8rem; }
  .main__video {
    display: inline-block; }
  /*=========MQ PRODUCTOS=========*/
  .producto {
    margin: 1rem;
    width: 18%; } }
