//reset

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
}

//commons

html{
	font-size: 62.5%;
}

h1{
	font-weight: 300;
	letter-spacing: .3rem;
	font-size: 1.6rem;
	text-align: center;
	margin: 1.5rem;
}

h2{
	color: #fff;
	font-size: 8vw;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-weight: 900;
	width: 100%;
}

h3{
	background: #8e2745;
	color: #fff;
	text-align: center;
	font-weight: 900;
	font-size: 4rem;
	margin: 2rem 0;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}

h4{
	text-align: center;
	text-transform: uppercase;
	font-size: 2.4rem;
	color: #3B3B3B;
	margin: 1rem 0;
	font-weight: 800;
}