//deportes

.container-deportes{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"aside"
	"footer"
	;
}

	.deporte{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 3rem;
	}

		.deporte-encabezado{
			width: 100%;
		}

			.deporte-encabezado__title{
				padding: 1rem;
				font-size: 2.5rem;
				width: 100%;
			}

			.deporte-encabezado__division{}

			.deporte-encabezado__torneo{
				text-align: center;
				font-size: 2rem;
			}

		.posiciones{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

			.posiciones__title{
				padding: 1rem;
				font-size: 2.5rem;
				width: 100%;
				background: #66BCDE;
			}

			.posiciones__tabla{
				text-align: center;
				font-size: 1.4rem;
				border: solid 1px black;
				border-collapse: collapse;
			}

				.posiciones__tabla tr{
					padding: 1px;
				}

					.posiciones__tabla tr th{
						border: solid 1px black;
						padding: 1px;
					}

					.posiciones__tabla tr td{
						border: solid 1px black;
						padding: 1px;
					}

		.fixture{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

			.fixture__title{
				padding: 1rem;
				font-size: 2.5rem;
				width: 100%;
				background: #66BCDE;
			}

			.fixture__tabla{
				text-align: center;
				font-size: 1.4rem;
				border: solid 1px black;
				border-collapse: collapse;
			}

				.fixture__tabla tr{
					padding: 1px;
				}

					.fixture__tabla tr th{
						border: solid 1px black;
						padding: 1px;
					}

					.fixture__tabla tr td{
						border: solid 1px black;
						padding: 1px;
					}