//header
.header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.header__title{}

	.redes-sociales{}

		.redes-sociales__link{
			text-decoration: none;
		}

		.redes-sociales__icon{
			width: 2.5rem;
			height: auto;
			margin: 0 .5rem;
			transition: .4s ease;
		}

		.redes-sociales__icon:hover{
			transform: scale(1.1);
		}