//historia

.container-historia{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

	.historia{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 5rem;
	}

		.historia-bloque{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

			.historia-bloque__title{
				padding: 1rem;
				font-size: 2.5rem;
				width: 100%;
			}

			.historia-bloque__img{
				width: 80%;
				max-width: 50rem;
				height: auto;
				border-radius: 2rem;
			}

			.historia-bloque__txt{
				font-size: 1.6rem;
				text-align: justify;
				padding: 2rem;
				color: #3B3B3B;
			}