//productos

.container-productos{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

	.productos-categoria{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 3rem;
	}

		.productos-categoria__title{
			padding: 1rem;
			font-size: 2.5rem;
			width: 100%;
		}

		.producto{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 90%;
			margin: 2rem;
		}

			.producto__cont{
				width: 100%;
			}

				.producto__img{
					width: 100%;
					height: auto;
				}

			.producto__title{}

			.producto__price{
				font-size: 3rem;
				color: #3B3B3B;
				font-weight: 500;
			}

		.boton--buy{
			color: #3B3B3B;
			font-weight: 800;
			border: solid .4rem #3B3B3B;
			font-size: 2.2rem;
			padding: .5rem .8rem;
			margin: .8rem;
			transition: .4s ease;
		}

		.boton--buy:hover{
			cursor: pointer;
			background: #66BCDE;
			color: #fff;
		}