//socios

.container-socio{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

	.socio{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url(../images/pasillob.jpg);
   		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}

		.formulario{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			color: #fff;
		}

			.formulario-campo{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				width: 70vw;
				padding: 2rem;
			}

				.formulario-campo__titulo{
					font-size: 2rem;
					text-transform: uppercase;
					font-weight: 800;
				}

				.formulario-campo__label{
					font-size: 1.6rem;
					margin: .5rem 0;
				}

				.formulario-campo__input{
					font-size: 1.6rem;
					margin: .5rem 0;
				}

				.formulario-campo__select{
					font-size: 1.6rem;
					margin: .5rem 0;
				}

					.formulario-campo__option{
						font-size: 1.6rem;
					}

				.socio__decoration{
					width: 15vw;
				}