.footer{
	@include flex(column, space-between, center);
	grid-area: footer;
	background: linear-gradient(105deg, #79c8e6 0, #65bcde 50%, #4fb1d6 100%);
}

.torneo{
	display: none;
	&__title{
		color: map-get($map:$paleta, $key:'blanco');
	}
}

.trofeo{
	@include flex(column, center, center);
	&__img{
		width: 4vw;
		height: auto;
	}
	&__txt{
		color: map-get($map:$paleta, $key:'blanco');
	}
}

.sponsors{
	@include flex(column, center, center);
	margin: 2rem 0;
	&__img{
		width: 20rem;
		height: auto;
		margin: 1.5rem 2rem; 
	}

}

.footer-info{
	margin: 2rem;
	&__txt{
		@include texto($textXs, $light, map-get($map:$paleta, $key:'blanco'));
		text-align: center;
		margin: 1rem 0;
	}
}