.footer{
	grid-area: footer;
	background: linear-gradient(105deg, #79c8e6 0, #65bcde 50%, #4fb1d6 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.torneo{
	display: none;
	&__title{
		color: $blanco;
	}
}

.trofeo{
	display: flex;
	flex-direction: column;
	align-items: center;
	&__img{
		width: 4vw;
		height: auto;
	}
	&__txt{
		color: $blanco;
	}
}

.sponsors{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
	&__img{
		width: 20rem;
		height: auto;
		margin: 1.5rem 2rem; 
	}

}

.footer-info{
	margin: 2rem;
	&__txt{
		color: $blanco;
		text-align: center;
		font-size: $textXs;
		font-weight: $light;
		margin: 1rem 0;
	}
}