//header
.header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.redes-sociales{
	&__link{
		text-decoration: none;
	}

	&__icon{
		width: 2.5rem;
		height: auto;
		margin: 0 .5rem;
		transition: .4s ease;
		&:hover{
		transform: scale(1.1);
		}
	}	
}

	