//header
.header{
	@include flex(column, center, center);
	grid-area: header;
}

.redes-sociales{
	&__link{
		text-decoration: none;
	}

	&__icon{
		width: 2.5rem;
		height: auto;
		margin: 0 .5rem;
		transition: .4s ease;
		&:hover{
		transform: scale(1.1);
		}
	}	
}

	