//nav 
.nav{
	@include flex(column, space-between, center);
	grid-area: nav;
	background: linear-gradient(105deg, #98354c 0, #8e2645 50%, #84143f 100%);
	padding: .5rem 0;
	margin: 2rem 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	&__decoration{
		display: none;
	}
	&__logo{
		width: 5rem;
		height: auto;
		transition: .4s ease;
		filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
		&:hover{
			transform: scale(1.03);
		}
	}
	
}

.menu{
	@include flex(column, center, center);
	list-style: none;
	&__item{
		text-align: center;
		margin: .5rem 0;
	}
	&__link{
		@include texto($textSm, $medium, map-get($map:$paleta, $key:'blanco'));
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: .4s;
		&:hover{
			color: map-get($map:$paleta, $key:'celeste');
			background-size: 100% 2px;
		}
	}
}

.form-control{
	font-size: $textXxs;
}