//buttons

.boton{
	@include texto($textMd, $extraBold, map-get($map:$paleta, $key:'blanco'));
	border: solid .4rem map-get($map:$paleta, $key:'blanco');
	padding: .5rem .8rem;
	margin: .8rem;
	transition: .4s ease;
	&:hover{
		background: map-get($map:$paleta, $key:'celeste');
	}
}

.boton--black{
	@extend .boton;
	color: map-get($map:$paleta, $key:'gris');
	border: solid .4rem map-get($map:$paleta, $key:'gris');
	text-decoration: none;
	&:hover{
		cursor: pointer;
		color: map-get($map:$paleta, $key:'blanco');
	}
}

.boton--buy{
	@extend .boton;
	color: map-get($map:$paleta, $key:'gris');
	border: solid .4rem map-get($map:$paleta, $key:'gris');
	text-decoration: none;
	&:hover{
		cursor: pointer;
		color: map-get($map:$paleta, $key:'blanco');
	}
}

.return-button{
	&__img{
		width: 6rem;
		height: auto;
		position: fixed;
		bottom: 2%;
		right: 2%;
		opacity: 50%;
		transition: transform .4s ease;
		&:hover{
			opacity: 100%;
			transform: translateY(-5px);
		}
	}
}

//bootstrap

.btn{
	border: solid 2px map-get($map:$paleta, $key:'blanco');
	color: map-get($map:$paleta, $key:'blanco');
	font-size: $textXxs;
	&:hover{
		border: solid 2px map-get($map:$paleta, $key:'celeste');
		color: map-get($map:$paleta, $key:'celeste');
	}
}

.navbar-toggler{
	border: solid 1px rgba(0, 0, 0, 0);
}

.navbar-toggler-icon{
	background-image: url(../images/hmb.webp);
	width: 30px;
	height: 30px;
}