//club

.container-club{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

.club{
	display: grid;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;

	&-articulo{
		@include flex(column, center, center);

		&__title{
			padding: 1rem;
			font-size: $textXl;
			width: 100%;
		}

		&__txt{
			font-size: $textXxs;
			text-align: left;
			padding: 2rem;
			color: map-get($map:$paleta, $key:'gris');
		}

		&__ul{
			list-style: square;
		}

		&__li{
			font-size: $textXxs;
			text-align: justify;
			padding: 2rem;
			color: map-get($map:$paleta, $key:'gris');
		}

		&__tabla{
			text-align: center;
			font-size: $textXxxs;
			border: solid 1px black;
			border-collapse: collapse;
			tr{
				padding: 1px;
				th{
					border: solid 1px black;
					padding: 1px;
				}
				td{
					border: solid 1px black;
					padding: 1px;
				}
			}
		}
	}
}

.map{
	width: 100%;
	height: 50vh;
}