//historia

.container-historia{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

.historia{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;
	&-bloque{
		display: flex;
		flex-direction: column;
		align-items: center;
		&__title{
			padding: 1rem;
			font-size: $textXl;
			width: 100%;
		}

		&__img{
			width: 80%;
			max-width: 50rem;
			height: auto;
			border-radius: 2rem;
		}

		&__txt{
			font-size: $textXxs;
			text-align: justify;
			padding: 2rem;
			color: $gris;
		}
	}
}