//index

.container-inicio{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"aside"
	"main"
	"buy"
	"footer"
	;
}

.aside{
	@include flex(column, center, center);
	grid-area: aside;
	box-shadow: -3px 0 15px rgba(0, 0, 0, 0.3);
	&__title{
		font-size: $textSm;
		padding: 0 6rem;
	}
}

.clash{
	@include flex(column, center, center);
	&__title{
		font-size: $textSm;
		background: map-get($map:$paleta, $key:'celeste');
		color: map-get($map:$paleta, $key:'blanco');
		padding: .5rem;
	}
	&-torneo{
		@include flex(column, center, center);
		margin: 2rem 0;
		&__title{
			@include texto($textSm, $semiBold, map-get($map:$paleta, $key:'gris'));
			margin: 1rem 0;
			padding: .5rem;
			text-align: center;
		}

		&__div{
			display: flex;
			align-items: center;
		}

		&__txt{
			@include texto($textSm, $light, map-get($map:$paleta, $key:'gris'));
		}
	}
}

.team{
	@include flex(column, center, center);
	&__logo{
		width: 8rem;
		height: auto;
		margin: 1rem 2rem;
	}
	&__txt{
		@include texto($textSm, $extraBold, map-get($map:$paleta, $key:'gris'));
		margin-bottom: 2rem;
		text-align: center;
	}
}
	
.publicidad{
	&__img{
		width: 100%;
		height: auto;
	}
}

.main{
	@include flex(column, center, center);
	grid-area: main;
	background-image: url(../images/pasillo.jpg);
    background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	&__title{
		width: 100%;
	}
	&__video{
		width: 95%;
		height: auto;
		margin: 2rem;
		border-radius: 2rem;
		display: none;
	}
}

.noticias{
	@include flex(column, center, center);
}

.noticia{
	width: 90%;
	padding-bottom: 1rem;
	background: map-get($map:$paleta, $key:'blanco');
	margin: 1rem 0;
	&__img{
		width: 100%;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
	&__title{
		padding: .5rem;
	}
	&__txt{
		text-align: center;
		font-size: $textXxs;
		padding: 1.5rem;
	}
}
	
.buy{
	@include flex(column, center, center);
	grid-area: buy;
	&__img{
		width: 100%;
		height: auto;
	}
}

.camiseta{
	@include flex(column, center, center);
	margin: 2rem 0;
	&__txt{
		@include texto($textXxl, $extraBold, map-get($map:$paleta, $key:'gris'));
		text-align: center;
		padding: 0 2rem;
	}
	&__icon{
		width: 20rem;
		height: auto;
		margin: 1rem;
	}
}