//productos

.container-productos{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

.productos-categoria{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 3rem;
	&__title{
		padding: 1rem;
		font-size: $textXl;
		width: 100%;
	}
}

.producto{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: 2rem;
	&__cont{
		width: 100%;
	}
	&__img{
		width: 100%;
		height: auto;
	}
	&__price{
		font-size: $textXxl;
		color: $gris;
		font-weight: $medium;
	}
}	