//productos

.container-productos{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header"
	"nav"
	"hero"
	"main"
	"footer"
	;
}

.productos-categoria{
	@include flex(column, center, flex-start);
	width: 100%;
	margin-bottom: 3rem;
	&__title{
		padding: 1rem;
		font-size: $textXl;
		width: 100%;
	}
}

.producto{
	@include flex(column, space-around, center);
	width: 90%;
	margin: 2rem;
	&__cont{
		width: 100%;
	}
	&__img{
		width: 100%;
		height: auto;
	}
	&__price{
		@include texto($textXxl, $medium, map-get($map:$paleta, $key:'gris'));
	}
}	