//reset

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $mainFont;
	text-decoration: none;
}

//commons

html{
	font-size: 62.5%;
}

h1{
	@include texto($textXxs, $light, map-get($map:$paleta, $key:'gris'));
	letter-spacing: .3rem;
	text-align: center;
	margin: 1.5rem;
}

h2{
	@include texto(8vw, $extraBlack, map-get($map:$paleta, $key:'blanco'));
	text-align: center;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 100%;
}

h3{
	@include texto($textXxxl, $extraBlack, map-get($map:$paleta, $key:'blanco'));
	background: map-get($map:$paleta, $key:'bordo');
	text-align: center;
	margin: 2rem 0;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}

h4{
	@include texto($textLg, $extraBold, map-get($map:$paleta, $key:'gris'));
	text-align: center;
	text-transform: uppercase;
	margin: 1rem 0;
}