//reset

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $mainFont;
	text-decoration: none;
}

//commons

html{
	font-size: 62.5%;
}

h1{
	font-weight: $light;
	letter-spacing: .3rem;
	font-size: $textXxs;
	text-align: center;
	margin: 1.5rem;
}

h2{
	color: $blanco;
	font-size: 8vw;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-weight: $extraBlack;
	width: 100%;
}

h3{
	background: $bordo;
	color: $blanco;
	text-align: center;
	font-weight: $extraBlack;
	font-size: $textXxxl;
	margin: 2rem 0;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}

h4{
	text-align: center;
	text-transform: uppercase;
	font-size: $textLg;
	color: $gris;
	margin: 1rem 0;
	font-weight: $extraBold;
}