//fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//variables
$mainFont: 'Work Sans', sans-serif;

//font weight
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$extraBlack: 900;

//font size
$textXxxs: 1.4rem;
$textXxs: 1.6rem;
$textXs: 1.8rem;
$textSm: 2rem;
$textMd: 2.2rem;
$textLg: 2.4rem;
$textXl: 2.6rem;
$textXxl: 3rem;
$textXxxl: 4rem;
